.order{
    align-content: center;
    text-align: center;
    width: 1000px;
    margin: 70px auto;
    background-color:white;
    border: 1px solid white;
    box-shadow: 2px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 100px rgb(53, 50, 50);
}

.abc{
    width: 1000px;
    margin: 10px auto;
    background-color:white;
    border: 1px solid white;
    box-shadow: 2px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 100px rgb(53, 50, 50);
}
.inputbox{
    border:2px solid black;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.input{
    background-color:white;
}
.order-form {
    display: flex;
    flex-direction: column;    
}

.order-label {
    font-weight: bold;
    margin-bottom: 8px;
}
.btn-order{
    margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            
}